
body{
    background-image: url("images/bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgb(2, 65, 121);
	background-color: #CCCCCC;
	padding: 20px;

    text-align: center;
}

h1{
    font-size: 30px;
    font-weight: bolder;

	color: rgb(255, 255, 255);
	font-family: Verdana;
}

img{
	width: 150px;
	height: 150px;

    border-radius: 75px;
}

h2 a{
	text-decoration: none;
	font-family: Arial;

	color: #000000;
}

h2 a:hover{
	border: 2px solid rgb(252, 252, 252);
	background-color: rgb(2, 65, 121);
	border-radius: 8px;

    color: rgb(250, 250, 250);
}

.headings {
	background-color:rgb(2, 65, 121);
	padding: 5px;
	font-style: italic;
	color: rgb(255, 254, 254);
    border-radius: 3px;
}

p.description {
	text-align: justify;
	color: rgb(0, 0, 0);
}

.educ{
    color: white;
	margin: 0;
	padding: 0;
}

table#educ-bg {
    color: rgb(0, 0, 0);
    border-collapse: collapse;
    width: 100%;
    font-family: Arial;
}

table#educ-bg th, table#educ-bg td {
    padding: 8px;
    text-align: left;
    border: 1px solid #000000;
}

table#educ-bg thead th {
    padding: 12px;
    text-align: center;
    background-color: rgb(2, 65, 121);
    font-weight: bold;
    color: white;
    font-size: 15px;
}

p{
	font-family: sans-serif;
	color: rgb(198, 16, 16);
}

hr{
	width: 100%;
	height: 1px;
	background-color: rgb(0, 0, 0);
}

h3, h4, ul, ol{
	text-align: left;
	font-family: Arial;
}

table{
	width: 100%;
	border-collapse: collapse;
	font-family: Arial;
}

td th {
    padding: 8px;
}






